body {
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
	font-weight:500;
	color:#333;
	font-size:18px;
	line-height:1.5;
	margin: 0px;
	padding: 0px;
	height: 100%;
	background: #e9e9e9 url('/bg.png');
}

#content p,h1,h2,h3,h4,h5,pre {
	padding-left: 30px;
	padding-right:10px;
}

#content p {
	font-family: 'Open Sans', sans-serif; 
}

a{color:#333;}

img(padding: 0px; margin: 0px;)


hr {
	border: none;
    background-color: #ccc;
    color: #ccc;
    height: 1px;
}

h1,h2,h3,h4,h5 {
	color:#111;
	font-weight:300;
	line-height: 90%;
}

h1 {
	margin-top: 10px;
	padding-top: 10px;
	font-size: 320%;
}

h2 {font-size: 180%;}
h3 {font-size: 170%;}
h4 {font-size: 150%;}
h5 {font-size: 120%;}



#wrapper {
	/**width:960px;**/
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

#menu {
	padding: 0px;
	padding-top: 15px;
	background: url('content/bg.png');
	width: 135px;
	min-height: 100%;
	float: left;
	text-align: right;
	margin: 0px;
	font-size: 120%;
	font-weight:300;
	line-height: 1.5;
}

#menu a {
	color: black;
	text-decoration:none;
}

#menu a:hover {
	text-decoration:underline;
}

#menu p {
	margin: 5px;
	padding: 0px;
}

#content { 
	margin: 0px;
	margin-bottom: 50px;
	float:right;
	width: 800px;
	background: white;
	padding: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	border-left: 1px solid #c2c2c2;
	border-right: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;
}

textarea {
	width: 100%;
	height: 400px;
}

#content p {
	text-align: justify;
	padding-right: 30px;
}

p img {
	float: left;
	margin: 0px;
}

#content img {
	width: 800px;
	margin-left:auto;
	margin-right:auto;
}

p,h1,h2,h3,h4,h5,h6,pre {
	padding-left: 20px;
	padding-right: 20px;
}


pre {
	width:680px;
	white-space:pre-wrap;
	padding: 10px;
	padding-left: 30px;
	margin-left:auto;
	margin-right: auto;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 10px;
}

code {
	font-family:Consolas,Monaco,Andale Mono,monospace;
	line-height:1.5;
	font-size:12px;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 2px 5px 2px 5px;
}

pre code {
	border: none;
}
